
@media screen and (max-width: 1200px) {
    .publication-list-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .publication-list-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 650px) {
    div.pub__desc > p:nth-child(1){
        font-size: 15px;
        line-height: 24px;
    }

    div.pub__desc > p:nth-child(2){
        font-size: 9px;
    }
}