.custom-btn-1{
    border: 0px;
    background-color: transparent;
    font-family: 'lora bold';
    color: var(--strong-blue);
    font-weight: bold;
    font-size: 12px;
    background: none ;
}

.custom-btn-label img{
    margin-left: 5px;
    margin-bottom: 3.5px;
}



.mob-view-all-btn{
    display: none;
}



@media screen  and (max-width:400px) {
    .desk-pub-view-all-btn{
        display: none;
    } 

    .mob-view-all-btn{
        display: block;
    }
}