:root {
    --very-dark-blue: #0a314d;
    --dark-blue: #062135;
    --white: #ffffff;
    --black: #000000;
    --dark-orange: #887054;
    --very-dark-gray: #333333;
    --strong-blue: #007db9;
    --Light-grayish-blue: #b8d2dd;
    --dark-moderate-red: #8c2b2b;
    --desaturated-blue: #254859;
    --very-light-gray: #dbdbdb;
  }